
<row>
<h2 class="sr-only top-content-title"><%= t('blacklight.search.search_results_header') %></h2>

<% @page_title = t('blacklight.search.page_title.title', :constraints => render_search_to_page_title(params), :application_name => application_name) %>

<% content_for(:head) do -%>
  <%= render_opensearch_response_metadata %>
  <%= rss_feed_link_tag %>
  <%= atom_feed_link_tag %>
  <%= json_api_link_tag %>
<% end %>

<%= render 'search_header' %>
<%
search_saved = false
save_button_classes = 'save-search-button ajax-submit'
if !user_signed_in?
  save_button_classes += ' hidden'
end
%>
<h2 class="sr-only"><%= t('blacklight.search.search_results') %></h2>
<%- if !@response.empty? %>
  <div class="search-actions">
    <%- if !@search_id.nil? && !@empty_search %>
      <span class="form-confirmation <%=!@search_is_saved ? "hidden" : "" %>">Search saved</span>  
      <%- if !@search_is_saved %>
        <%= button_to t('blacklight.search.save_this_search'), blacklight.save_search_path(@search_id), :method => :put, :class => save_button_classes %>
        <%- if !user_signed_in? %>
          <button class="sign-in-and-save-search" type="button"><%=t('blacklight.search.save_this_search')%></button>
        <%- end %> 
      <%- end %>
    <%- end %>  
  </div>    
<%- end %>  
    
<%- if @response.empty? %>
  <%= render "zero_results" %>
<%- elsif render_grouped_response? %>
  <%= render_grouped_document_index %>
<%- else %>
  <%= render_document_index %>
<%- end %>

<%= render 'results_pagination' %>
</row>